.checkbox-list-content {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      label {
        margin-bottom: 15px;
      }
      span {
        font-size: 14px;
        &.label {
          margin-left: 10px;
        }
      }
      &.level0 {
        margin-bottom: 25px;
        ul {
          margin-top: 8px;
        }
      }
      &.level1 {
        margin-left: 20px;
        margin-bottom: 8px;
      }
      &.level2 {
        margin-left: 20px;
        margin-bottom: 8px;
      }
    }
  }
}
