.list-sub-affiliate-content {
  &__filter {
    margin-bottom: 25px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    .button-content {
      margin: 0 2px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__table {
    margin-top: 30px;
  }
  &__pagination {
    margin-top: 20px;
  }
}
