.login-content {
    h3 {
      color: var(--info);
      font-size: 24px;
      margin: 20px 0 10px;
    }
    form {
      .ant-form-item {
        .ant-btn {
          background: var(--info);
          border-color: var(--info);
          span {
            text-transform: uppercase;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a {
      &.forgot {
        font-size: 14px;
        color: #337ab7;
        &:hover {
          text-decoration: underline !important;
          color: #23527c;
        }
      }
    }
  }
  
  @media only screen and (max-width: 767px) {
    .login-content {
      margin-bottom: 15px;
    }
  }