.table-report-content {
  .heading-content {
    // margin-bottom: 25px;
  }
  &__filter {
    margin-bottom: 25px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    .button-content {
      margin: 0 2px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__table {
    margin-top: 30px;
  }
  &__pagination {
    margin-top: 20px;
  }

  &__wrapper {
    &.default {
      padding-top: 15px;
    }

    &.secondary {
      background: #fff;
      border: 1px solid var(--info);
      padding: 15px;
      margin-top: -1px;
    }
  }
}
