.forgot-password-content {
  h3 {
    color: var(--info);
    font-size: 24px;
    margin: 20px 0 10px;
  }
  form {
    .ant-form-item {
      .ant-btn {
        background: var(--info);
        border-color: var(--info);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .forgot-password-content {
    margin-bottom: 15px;
  }
}