:root {
  --font-size: 13px;
  --background: #c5cbc7;
  --sidebar-bg: #3D4A53;
  --sidebar-active-bg: #344047;
  --sidebar-item-border: #43525c;
  --red: #FB5557;
  --icon-red: #fb5f61;
  --icon-green: #01b070;
  --icon-grey: #8497a5;
  --icon-slate-grey: #687991;
  --grey-text: #7f96ac;
  --black-text: #555;
  --black-text-2: #666;
  --grey-on-hover: #f6f6f6;
  --grey: #e1e5ec;
  --primary: #3598dc;
  --danger: #e7505a;
  --info: #32c5d2;
  --info-2: #26a1ab;
  --secondary: #8E44AD;
  --warning: #F1C40F;
  --info-hover: #26a1ab;
  --grey-hover: #bcc5d4;
  --primary-hover: #3598dc;
  --danger-hover: #dc1e2b;
  --warning-hover: #F1C40F;
  --secondary-hover: #8E44AD;
}