.view-transaction-history-content {
    &__wrapper {
      background: #fff;
      border: 1px solid var(--info);
      padding: 15px;
      margin-top: -1px;
    }
    &__filter {
      margin-bottom: 25px;
      margin-top: 25px;
      &__buttons {
        display: flex;
        align-items: center;
        .button-content {
          margin: 0 2px;
        }
      }
    }
    &__note {
      margin-top: 20px;
      .alert {
        background: #a7e6ec;
      }
    }
    &__table {
      margin-top: 20px;
    }
    &__pagination {
      margin-top: 20px;
    }
  }
  